<header>
    <h1><a href='{{ site.url }}/'>{{ site.name }}</a></h1>
</header>
<div class="dropdown">
  <span>脚本列表</span>
  <div class="dropdown-content">
    <p>Ubuntu中创建装系统U盘</p>
    <p>自动循环装系统</p>
    <p>在VT1中运行的记录电池电量</p>
    <p>记录电池电量</p>
    <p>stress tool</p>
  </div>

  <span>自整理文档</span>
  <div class="dropdown-content">
    <p>开发环境</p>
    <p>资源列表</p>
    <p>零散笔记</p>
    <p>ChromeOS快捷键</p>
  </div>

  <span>仓库及镜像地址</span>

  <span>工具</span>
  <div class="dropdown-content">
    <p>Bad Pixel Test</p>
    <p>Aquarium</p>
    <p>Camera</p>
  </div>

  <span>第三方资源</span>
  <div class="dropdown-content">
    <p>overview</p>
    <p>ListOfChromeUrlsAndTheirPurpose</p>
    <p>ChromeOS清华镜像</p>
  </div>
</div>
<a href='{{ site.url }}/'>首页</a> | <a href='https://os.raoyi.net/'>ChromeOS</a> | <a href='{{ site.url }}/about/'>关于</a> | <a href='{{ site.url }}/link/'>链接</a> | <a href='{{ site.url }}/tags/'>标签</a> | <a href='{{ site.url }}/archive/'>归档</a>
<hr>
