<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>
        {% if page.title %}
            {{ page.title }} - {{ site.name }}
        {% else %} 
            {{ site.name }} - {{ site.description }}
        {% endif %}
    </title>
    {% if site.highlighter %}
     <link rel="stylesheet" href='{{ site.url }}/assets/css/style.css' type='text/css'>
    {% endif %}
    <meta name='viewport' content='width=device-width, initial-scale=1'>
<style>
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
</style>
</head>
<body>
  <div class="container-lg px-3 my-5 markdown-body">
    {% include header.html %}

    {{ content }}
<hr>
    <p><small> <i>RaoYi &copy; Since 2019</i> </small></p>
    </div></body>
</html>
